body{
  font-family: Montserrat,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 700;
}
.box-star{
  margin: 30px 0;
  line-height: 20px;
}
.line{
  display: inline-block;
  height: 0.30em;
  width: 10em;
}
.glyphicon{
  font-size: 3.50em;
  vertical-align: middle;
  padding: 0 10px;
}
#nav-bar{
  background-color: #2C3E50;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2
}
#nav-bar .row{
  line-height: 70px;
}
#nav-bar a{
  color: white;
  text-decoration: none;
}
#nav-bar .col-xs-6 > a{
  padding: 15px;
  background-color: #1ABC9C;
  border-radius: 10px;
}
#nav-bar .col-xs-6 > a i{
  margin-left: 5px;
}
#nav-bar li a{
  font-size: 1.50em;
  vertical-align: middle;
}
#nav-bar li a:hover{
  color: #1ABC9C;
}
#nav-bar p{
  display: block;
}
#nav-bar p a{
  font-size: 2em;
}
#nav-bar ul{
  list-style: none;
  padding-left: 0;
}
#nav-bar ul li{
  display: inline-block;
  padding-right: 20px;
}
#nav-bar .col-lg-5{
  text-align: right;
}
#header-bottom{
  background-color: #1ABC9C;
  margin-top: 70px;
  height: 600px;
}
#header-bottom .container{
  position: relative;
  height: 100%;
}
#header-bottom .col-lg-12{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
#header-bottom .col-lg-12 img{
  width: 15em;
}
#header-bottom .col-lg-12 h1{
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
}
#header-bottom .col-lg-12 .white{
  background-color: white;
}
#header-bottom p {
  font-size: 1.5em;
}
#main-1{
  padding: 50px 0;
}
#main-1 .row{
  text-align: center;
  color: #2C3E50;
}
#main-1 .row h1{
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
}
#main-1 .row .blu{
  background-color: #2C3E50;
}
#main-1 .box{
  margin-bottom: 30px;
  width: 100%;
  position: relative;
  cursor: pointer;
}
#main-1 .box img{
  width: 100%;
  border-radius: 10px;
}
#main-1 .cover-green{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(26,188,156,.9);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
#main-1 .cover-green .fas{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5em;
}
#main-1 .box:hover .cover-green{
  display: block;
}
#main-2{
  background-color: #1ABC9C;
  color: white;
  text-align: center;
}
#main-2 .row{
  padding-top: 40px;
  padding-bottom: 40px;
}
#main-2 .white{
  background-color: white;
}
#main-2 .row h1{
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
}
#main-2 p{
  text-align: left;
  margin: 30px 0;
  line-height: 1.5;
  font-size: 1.25em;
  font-weight: 300;
}
#main-2 a{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 8px;
  font-size: 2em;
  padding: 20px;
}
#main-2 a:hover{
  background-color: white;
  color: black;
}
#main-3 .title:first-child{
  text-align: center;
}
#main-3 h1{
  font-size: 4em;
  font-weight: 700;
  text-transform: uppercase;
  color: #2C3E50;
}
#main-3 .glyphicon{
  color: #2C3E50;
}
#main-3 .blu{
  background-color: #2C3E50;
}
#main-3 .row{
  padding: 60px 0;
}
#main-3 .message{
  padding-bottom: 150px;
}
#main-3 form input{
  width: 100%;
  padding: 20px;
  padding-left: 0;
  font-size: 1.5em;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #E9ECEF;
}
#main-3 .main-button button{
  background-color: #1ABC9C;
  border: none;
  padding: 20px 30px;
  font-size: 1.5em;
}
#main-3 .main-button button:hover{
  background-color: #159A80;
}
footer .row{
  text-align: center;
  color: white;
}
#footer-top{
  background-color: #2C3E50;
}
#footer-top .row{
  padding: 70px 0;
}
#footer-top .row h2{
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
}
#footer-top .row p {
  font-size: 1.15em;
  font-weight: 100;
}
#footer-top .row a{
  margin-right: 10px;
}
#footer-top .row a:last-child{
  margin-right: 0;
}
#footer-top .row a i{
  display: inline-block;
  color: white;
  font-weight: 100;
  font-size: 1.5em;
  border: 1px solid white;
  border-radius: 100%;
  padding: 10px;
}
#footer-top .row p a{
  color: #1AB083;
}
#footer-top .row p a:hover{
  color: #117963;
}
#footer-top .row a:hover i{
  background-color: white;
  color: black;
}
#footer-bottom {
  background-color: #1A252F;
}
#footer-bottom .row{
  padding: 30px 0;
  font-weight: 100;
}
@media screen and (max-width:992px){
  #header-bottom .col-lg-12{
    font-size: 0.8em;
  }
}
@media screen and (max-width: 768px){
  #footer-top .col-lg-4{
    padding: 20px 0;
  }
}
